

*.DS_Store
*.pyc
*.sc

.project

vagrant/.vagrant/**
vagrant/.vagrant/

vagrant-test/.vagrant/**
vagrant-test/.vagrant/

vagrant/.vagrant/machines/default/virtualbox/action_set_name
vagrant/.vagrant/machines/default/virtualbox/action_provision
vagrant/.vagrant/machines/default/virtualbox/id
vagrant/.vagrant/machines/default/virtualbox/index_uuid